
* {
  margin: 0; padding: 0 
  }
html{
  scroll-behavior: smooth;
}

body {
  background: #000;
  background-size: cover;
  padding-bottom: 0;
}
.container{
  position:relative;
}
canvas {
  display: block;
  z-index:-1;
  height:100vh;
  position: fixed;
  size: cover;
}

.header{
  color: white;
}
.portfolio-title {
    color:white;
    font-size: 120px;
    font-family: 'VT323', monospace;
    text-align: center;
    padding-top: 70px; 
}
#cursor {
    color: white;
    font-size: 100px;
    font-weight: lighter;
    vertical-align: text-bottom;
    font-family: 'VT323', monospace;
}
.buttons {
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom:70px;
}

#page1{
    height:100vh;
}
.content {
    padding-left: 75px;
    padding-right: 75px;
    color:white;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    font: 1.3rem Inconsolata, monospace;
    font-family: 'Quantico', sans-serif; 
}
.toggle-button {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background: white;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    font-weight:bold;
    padding: 6px;
    font-family: 'Quantico', sans-serif;
    border: 4px solid #0f0;
}
.toggle-button:hover {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #0f0;
    background: black;
}
.hr{
  color: white;
}

#page2 {
  height:100vh;
}
.page-title{
  color: white;
  text-align: center;
  padding-top: 70px;
  font-size: 80px;
  font-family: 'VT323', monospace;
  font-weight: normal;
}
.subtitle{
  -webkit-text-stroke: 1px #0f0;
}
.project{
  color:#0f0;
  text-align: center;
  font-weight: bold;
  font: 1.3rem Inconsolata, monospace;
}

#page3 {
  height:170vh;
}
summary {
  padding-left: 75px;
  padding-right: 75px;
  color:white;
  font-size: 25px;
  text-align: left;
  font: 1.3rem Inconsolata, monospace;
  font-family: 'Quantico', sans-serif; 
}
details[open] summary {
  padding-left: 0px;
  border-bottom: 1px solid white;
  margin-bottom: .5em;
}
details[open]{
  padding-left: 95px;
  padding-right: 75px;
  color:white;
  font-size: 25px;
  text-align: left;
  font: 1.3rem Inconsolata, monospace;
  font-family: 'Quantico', sans-serif; 
}
.links{
  color: #0f0;
  text-decoration: none;
}

#footer{
  position: sticky;
  bottom: 0;
}
.images{
  padding-right: 5px;
  padding-bottom: 7px;
}
#github{
  padding-bottom: 5px;
}
